/* noto-serif-jp-300 - latin_japanese */
@font-face {
     font-family: 'mastodon-font-serif';
     font-style: normal;
     font-weight: 300;
     font-display: swap;
     src: local('Noto Serif JP'),
          url('../../fonts/noto-serif-jp/noto-serif-jp-v21-latin_japanese-300.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../../fonts/noto-serif-jp/noto-serif-jp-v21-latin_japanese-300.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-jp-regular - latin_japanese */
@font-face {
     font-family: 'mastodon-font-serif';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: local('Noto Serif JP'),
          url('../../fonts/noto-serif-jp/noto-serif-jp-v21-latin_japanese-regular.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../../fonts/noto-serif-jp/noto-serif-jp-v21-latin_japanese-regular.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-jp-500 - latin_japanese */
@font-face {
     font-family: 'mastodon-font-serif';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src: local('Noto Serif JP'),
          url('../../fonts/noto-serif-jp/noto-serif-jp-v21-latin_japanese-500.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../../fonts/noto-serif-jp/noto-serif-jp-v21-latin_japanese-500.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-jp-700 - latin_japanese */
@font-face {
     font-family: 'mastodon-font-serif';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src: local('Noto Serif JP'),
          url('../../fonts/noto-serif-jp/noto-serif-jp-v21-latin_japanese-700.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../../fonts/noto-serif-jp/noto-serif-jp-v21-latin_japanese-700.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
     font-family: 'mastodon-font-serif', serif !important;
}