/* noto-serif-sc-300 - latin_chinese-simplified */
@font-face {
    font-family: 'mastodon-font-serif';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Noto Serif SC'),
        url('../../fonts/noto-serif-sc/noto-serif-sc-v22-latin_chinese-simplified-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../fonts/noto-serif-sc/noto-serif-sc-v22-latin_chinese-simplified-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-regular - latin_chinese-simplified */
@font-face {
    font-family: 'mastodon-font-serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Serif SC'),
        url('../../fonts/noto-serif-sc/noto-serif-sc-v22-latin_chinese-simplified-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../fonts/noto-serif-sc/noto-serif-sc-v22-latin_chinese-simplified-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-500 - latin_chinese-simplified */
@font-face {
    font-family: 'mastodon-font-serif';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Noto Serif SC'),
        url('../../fonts/noto-serif-sc/noto-serif-sc-v22-latin_chinese-simplified-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../fonts/noto-serif-sc/noto-serif-sc-v22-latin_chinese-simplified-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-700 - latin_chinese-simplified */
@font-face {
    font-family: 'mastodon-font-serif';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Noto Serif SC'),
        url('../../fonts/noto-serif-sc/noto-serif-sc-v22-latin_chinese-simplified-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../fonts/noto-serif-sc/noto-serif-sc-v22-latin_chinese-simplified-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'mastodon-font-serif', serif !important;
}