/* noto-serif-tc-300 - latin_chinese-traditional */
@font-face {
     font-family: 'mastodon-font-serif';
     font-style: normal;
     font-weight: 300;
     font-display: swap;
     src: local('Noto Serif TC'),
          url('../../fonts/noto-serif-tc/noto-serif-tc-v23-latin_chinese-traditional-300.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../../fonts/noto-serif-tc/noto-serif-tc-v23-latin_chinese-traditional-300.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-tc-regular - latin_chinese-traditional */
@font-face {
     font-family: 'mastodon-font-serif';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: local('Noto Serif TC'),
          url('../../fonts/noto-serif-tc/noto-serif-tc-v23-latin_chinese-traditional-regular.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../../fonts/noto-serif-tc/noto-serif-tc-v23-latin_chinese-traditional-regular.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-tc-500 - latin_chinese-traditional */
@font-face {
     font-family: 'mastodon-font-serif';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src: local('Noto Serif TC'),
          url('../../fonts/noto-serif-tc/noto-serif-tc-v23-latin_chinese-traditional-500.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../../fonts/noto-serif-tc/noto-serif-tc-v23-latin_chinese-traditional-500.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-tc-700 - latin_chinese-traditional */
@font-face {
     font-family: 'mastodon-font-serif';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src: local('Noto Serif TC'),
          url('../../fonts/noto-serif-tc/noto-serif-tc-v23-latin_chinese-traditional-700.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../../fonts/noto-serif-tc/noto-serif-tc-v23-latin_chinese-traditional-700.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
     font-family: 'mastodon-font-serif', serif !important;
}